@page "/Statistics"
@inject ILogger<StatisticsMain> logger
@inject ISnackbar Snackbar

@if (statistics_ == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div hidden="@isHiddenMainPanel">
        <MudText Class="mt-4 mb-4" Typo="Typo.h5"><strong>Usage Statistics</strong></MudText>
        <div style="width: 90%; margin: auto">
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.h6">Total count:</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1">@totalCount_</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.h6">Well-bore Count:</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1">@WellBoreCount_</MudText>
                </MudItem>
            </MudGrid>
        </div>
    </div>
}

@code {
    private UsageStatisticsWellBore statistics_ = null!;
    private long totalCount_ = 0;
    private long WellBoreCount_ = 0;
    private long WellBoreConversionSetCount_ = 0;

    private bool isHiddenMainPanel = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            statistics_ = await APIUtils.ClientWellBore.GetWellBoreUsageStatisticsAsync();
            if (statistics_ != null)
            {
                totalCount_ = 0;
                WellBoreCount_ = 0;
                WellBoreConversionSetCount_ = 0;

                if (statistics_.GetAllWellBoreIdPerDay != null && statistics_.GetAllWellBoreIdPerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.GetAllWellBoreIdPerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.GetAllWellBoreMetaInfoPerDay != null && statistics_.GetAllWellBoreMetaInfoPerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.GetAllWellBoreMetaInfoPerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.GetWellBoreByIdPerDay != null && statistics_.GetWellBoreByIdPerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.GetWellBoreByIdPerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.GetAllWellBorePerDay != null && statistics_.GetAllWellBorePerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.GetAllWellBorePerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.PostWellBorePerDay != null && statistics_.PostWellBorePerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.PostWellBorePerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.PutWellBoreByIdPerDay != null && statistics_.PutWellBoreByIdPerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.PutWellBoreByIdPerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
                if (statistics_.DeleteWellBoreByIdPerDay != null && statistics_.DeleteWellBoreByIdPerDay.Data != null)
                {
                    foreach (CountPerDay count in statistics_.DeleteWellBoreByIdPerDay.Data)
                    {
                        if (count != null)
                        {
                            totalCount_ += count.Count;
                            WellBoreCount_ += count.Count;
                        }
                    }
                }
            }
            // Show main panel
            isHiddenMainPanel = false;
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem UsageStatistics initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

}